/* Paleta de Colores */
.bg-green {
    background-color: #2A653E;
}

.bg-gold {
    background-color: #E2B84C;
}

.bg-light-cream {
    background-color: #FFF4E1;
}

.text-light {
    color: #FFF4E1;
}

.btn-green {
    background-color: #2A653E;
    color: #FFF4E1;
    border: none;
}

.btn-green:hover {
    background-color: #37904d;
    color: #FFF4E1;
}

.border-green {
    border: 2px solid #2A653E;
}

/* Espacios y alineaciones */
.text-center {
    text-align: center;
}

.py-3 {
    padding: 1rem 0;
}

.my-5 {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

/* Ajuste de imagen */
.card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/* Estilo de la tarjeta */
.card {
    min-height: 400px;
    max-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #2A653E;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
    background-color: #FFF4E1;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

/* Estilo del cuerpo de la tarjeta */
.card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    text-align: center;
}

/* Estilo del título */
.card-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: #2A653E;
}

/* Estilo del texto de descripción */
.card-text {
    margin-top: auto;
    margin-bottom: 1rem;
    min-height: 50px;
    color: #38424a;
}

/* Estilo del botón */
.btn-green {
    background-color: #2A653E;
    color: #FFF4E1;
    border: none;
    padding: 0.5rem 1.5rem;
    border-radius: 20px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.btn-green:hover {
    background-color: #37904d;
    color: #FFF4E1;
}

/* Botones de navegación para el scroll */
.scroll-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    z-index: 10;
}

.scroll-button.left {
    left: 0;
}

.scroll-button.right {
    right: 0;
}

.scroll-button:hover {
    background: rgba(0, 0, 0, 0.7);
}
