<!DOCTYPE HTML>
<html lang="es">
<head>
  <title>Registro</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Ruta al CSS usando Flask -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style-login.css') }}">
  <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
  <!-- Estilos adicionales -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body class="body">
    <!-- Barra de Navegación -->
    <div class="header">
      <div class="container">
        <div class="navbar">
          <div class="logo">
              <!-- Ruta al logo -->
              <a href="{{ url_for('index') }}">
                  <img src="{{ url_for('static', filename='img/logo_corto.png') }}" alt="logo" width="125px">
              </a>
          </div>
          <nav>
              <ul id="MenuItems">
                  <li><a href="{{ url_for('login_page') }}">Cuenta</a></li>
              </ul>
          </nav>
          {% if session.get('username') %}
              <!-- Mostrar mensaje de bienvenida si el usuario está logeado -->
              <div style="display: inline-block; margin-left: 20px; margin-right: 20px; font-size: 14px; color: green; font-weight: bold;">
                  Bienvenido {{ session['username'] }}
              </div>
              <!-- Mostrar el enlace de cerrar sesión -->
              <a href="{{ url_for('logout') }}" style="margin-left: 10px; margin-right: 20px; font-size: 14px; color: red;">Cerrar sesión</a>
          {% endif %}
          <a href="{{ url_for('view_cart') }}" style="position: relative;">
              <img src="{{ url_for('static', filename='img/cart.png') }}" width="30px" height="30px">
              <!-- Contador del carrito -->
              <span id="cart-count" 
                    style="position: absolute; top: -5px; right: -10px; background: red; color: white; border-radius: 50%; padding: 2px 6px; font-size: 12px; display: none;">
                  0
              </span>
          </a>
          <img src="{{ url_for('static', filename='img/menu.png') }}" class="menu-icon" onclick="menutoggle()">
      </div>
      </div>
    </div>

    <div class="login-page">
      <div class="form">
        <form>
          <lottie-player
            src="https://assets4.lottiefiles.com/datafiles/XRVoUu3IX4sGWtiC3MPpFnJvZNq7lVWDCa8LSqgS/profile.json"
            background="transparent"
            speed="1"
            style="justify-content: center"
            loop
            autoplay
          ></lottie-player>
          <input type="text" placeholder="Nombre completo" name="nombre" required />
          <input type="text" placeholder="Dirección de correo electrónico" name="email" required />
          <input type="text" placeholder="Ingresa un nombre de usuario" name="username" required />
          <input type="password" id="password" name="password" placeholder="Ingresa una contraseña" required />
          <input type="text" placeholder="Dirección" name="direccion" required />
          <i class="fas fa-eye" onclick="show()"></i>
          <br />
          <p id="registerMessage" class="message"></p>
          <button type="button" onclick="registerUser()">Registrarse</button>
        </form>
      </div>
    </div>

    <!-- Pie de página -->
    <div class="footer">
      <div class="container">
          <div class="row">
              <div class="footer-col-2">
                  <img src="{{ url_for('static', filename='img/logo_corto.png') }}">
                  <p style="color: white;">Nuestro propósito es llegar a su hogar de la manera más accesible y a tiempo.
                  </p>
              </div>
              <div class="footer-col-3">
                  <h3>Mi cuenta</h3>
                  <ul>
                      <li>Iniciar Sesión</li>
                  </ul>
              </div>
              <div class="footer-col-4">
                  <h3>Follow Us</h3>
                  <ul>
                      <li>Facebook</li>
                      <li>Twitter</li>
                      <li>Instagram</li>
                      <li>Youtube</li>
                  </ul>
              </div>
          </div>
          <hr>
          <p class="copyright">Copyright 2024 - Jose Portella</p>
      </div>
    </div>

    <script>
      function show() {
        var password = document.getElementById("password");
        var icon = document.querySelector(".fas");

        // Cambiar el tipo de campo entre texto y contraseña
        if (password.type === "password") {
          password.type = "text";
        } else {
          password.type = "password";
        }
      }
    </script>

    <script>
    function registerUser() {
    const form = document.querySelector('form');
    const nombre = form.querySelector('input[name="nombre"]').value;
    const email = form.querySelector('input[name="email"]').value;
    const username = form.querySelector('input[name="username"]').value;
    const password = form.querySelector('input[name="password"]').value;

    // Validar el formato del correo electrónico
    const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
    if (!emailRegex.test(email)) {
        const message = document.getElementById('registerMessage');
        message.style.color = 'red';
        message.textContent = 'El correo electrónico debe tener el formato "nombreEmail@Email.com"';
        return;
    }

    // Validar que el campo email termine con ".com"
    if (!email.endsWith('.com')) {
        const message = document.getElementById('registerMessage');
        message.style.color = 'red';
        message.textContent = 'El correo electrónico debe terminar con ".com"';
        return;
    }

    // Validar que los campos obligatorios no estén vacíos
    if (!nombre || !username || !email || !password) {
        const message = document.getElementById('registerMessage');
        message.style.color = 'red';
        message.textContent = 'Por favor, completa todos los campos obligatorios.';
        return;
    }

    // Enviar los datos al backend si todo es válido
    fetch('/api/register', {
        method: 'POST',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify({ nombre, username, email, password }),
    })
        .then(response => response.json())
        .then(data => {
            const message = document.getElementById('registerMessage');
            if (data.message === 'Usuario registrado exitosamente') {
                message.style.color = 'green';
                message.textContent = data.message;

                // Redirigir al formulario de inicio de sesión después de un pequeño retraso
                setTimeout(() => {
                    window.location.href = '/login';
                }, 2000);
            } else {
                message.style.color = 'red';
                message.textContent = data.message;
            }
        })
        .catch(error => {
            console.error('Error:', error);
            const message = document.getElementById('registerMessage');
            message.style.color = 'red';
            message.textContent = 'Error al conectar con el servidor.';
        });
    }

    </script>

</body>
</html>
